* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Century Gothic";
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
  padding:0 20px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;  
}
 .about-container{
  display: gid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  align-items:center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
} 

header {
  background: rgb(207, 144, 27);/* #091d3f*/
  color: #5E5E5E;
  padding: 1rem 0;
  position:sticky;
  top:0;
  z-index:10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: rgb(1, 17, 30);
  margin-left: 20px;
  text-decoration: none;
}

.nav a:hover {
  color: gold;
}

.menu{
  display: none;
}
.hero {
  background-image:url("https://images.pexels.com/photos/3970339/pexels-photo-3970339.jpeg?auto=compress&cs=tinysrgb&w=600"); 
  color: #fff;
 background-size: cover;
  background-position: center;
  /* height: 100vh;  */
  background-repeat: no-repeat; 
  padding: 80px 0;
  text-align: center;
}


.hero .btn {
  display: inline-block;
  margin-top: 20px;
  background: #091d3f;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 0;
}
.hero .btn:hover {
  background: #4d3ff0;
}
.section{
  margin: 20px auto;
}

 .section h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
} 
.testimonial-container h3 {
  text-align: center;
}

.cards,.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  border-collapse: #7d9edb;
}

.card ,.testimonial-card{
  flex: 1 1 250px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  background: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.card img, .hero img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.about-image img {
  width: 400px;
  height: 400px;
  display: block;
  object-fit: cover;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

form button {
  background:#091d3f;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #4d3ff0;
}

.form-message {
  margin-top: 10px;
  color: green;
}

footer {
  background:#091d3f;
  color: white;
  text-align: center;
  padding: 15px;
}
@media (max-width:480px) {
  .about-image img {
    width: 100%;
    height: auto;
  }
  .hero {
    padding: 50px 0;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .nav a{
    display:none;
  }
  .menu{
    display: block;
  }
}